MONGO_URL=mongodb://localhost:27017
MONGO_DB=webvector
REDIS_URL=redis://localhost:6379
JWT_SECRET=change-me-to-a-long-random-secret
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=webvector-node
KAFKA_GROUP_ID=baileys-node
FASTIFY_PORT=4000
FASTIFY_CORS_HOST_ORIGIN=http://localhost:3000
FASTIFY_NODE_ENV=development
